/BubbleSort/nbproject/private/
/BubbleSort/build/
/SelectionSort/nbproject/private/
/SelectionSort/build/
/InsertionSort/nbproject/private/
/InsertionSort/build/
/nbproject/private/
/QucikSort/nbproject/private/
/build/